<h1>Tasks</h1>
 
<%= render "form" %>


<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Date</th>
    <th>Days</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
 
<% @tasks.each do |task| %>
  <tr>
    <td><%= task.title %></td>
    <td><%= task.description %></td>
    <td><%= task.date %></td>
    <td><%= task.days_before %></td>
    <td><%= link_to 'Show', task %></td>
    <td><%= link_to 'Edit', edit_task_path(task) %></td>
    <td><%= link_to 'Remove', task, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
 
<br />